{% extends 'store/base.html' %}

{% block content %}
    <div class="text-center">
        <h1>پلن‌های موجود</h1>
        <p>برای خرید و مشاهده سابقه، ابتدا وارد شوید.</p>
    </div>

    {% if not user %}
        <div class="text-center my-4">
            <script async src="https://telegram.org/js/telegram-widget.js?22" 
                    data-telegram-login="{{ telegram_bot_username }}" 
                    data-size="large" 
                    data-auth-url="{{ redirect_url }}" 
                    data-request-access="write"></script>
        </div>
    {% endif %}

    <div class="row">
        {% for plan in plans %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ plan.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ plan.price | floatformat:0 }} تومان</h6>
                        <p class="card-text">مدت اعتبار: {{ plan.duration_days }} روز</p>
                        <p class="card-text">{{ plan.description }}</p>
                        {% if user %}
                            <a href="{% url 'buy_plan' plan.id %}" class="btn btn-primary">خرید</a>
                        {% else %}
                            <button class="btn btn-primary" disabled>برای خرید وارد شوید</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}